[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
	push = +force group Administrators
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group vmc_committers
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	push = +force group Administrators
[access "refs/heads/auth_deployment"]
	label-Code-Review = -2..+2 group Identity Team
